# ref: https://clang.llvm.org/docs/ClangFormatStyleOptions.html

---
# 语言: None, Cpp, Java, JavaScript, ObjC, Proto, TableGen, TextProto
Language: Cpp
# Visual Studio、LLVM、 Google、Chromium、Mozilla、WebKit、 Microsoft、GNU
BasedOnStyle: LLVM
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: InlineOnly

ForEachMacros: [
  'TAILQ_FOREACH', 'TAILQ_FOREACH_SAFE', 'TAILQ_FOREACH_REVERSE'
]
...

